<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Window</title>
    <link rel="stylesheet" type="text/css" href="../css/drawingboard.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
  #sketchBoard {
    width: 80vw;
    height: 75vh;
    border: 1px solid black;
  }
</style>
<body>
  <div id="sketchBoard">
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawingboard.js/0.4.6/drawingboard.min.js"></script>
<script>
  $(document).ready(function() {
    let imageBoard = new DrawingBoard.Board('sketchBoard', {
      controls: [
        'Color',
        { Size: { type: 'range' } },
        'Navigation',
        'DrawingMode'
      ],
      color: '#000',
      webStorage: false
    });
  })
</script>
</html>
